/******** MEDIA QUERIES **********/

/*
    Styles pour les écrans de moins de 1200px de large :
*/


@media screen and (max-width:1199px) {

    .product-list__item {
        width: 45%;
    }
}

/*
    Styles pour les écrans de moins de 900px de large :
*/

@media screen and (max-width:899px) {

    .product-list {
        width: auto;
        margin: 10% 15%;
    }

    .product-list__item {
        width: 100%;
    }

    .header__theme {
        font-size: 1.3rem;
    }

    .footer {
        font-size: 0.9rem;
    }
}