html{
    --color-red:#c80000;
    --color-greydark:#666;
    --color-greylight:#ccc;
    --padding-grey-dark:12px;
}

body {
    font-family: 'Raleway', sans-serif;
}

#container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width:100vw;
    height:100vh;
}

/****************/
/**** HEADER ****/
/****************/

.header {
    display:flex;
    flex-direction: column;
    color:white;
    width:100vw;
    height:20vh;
}

/**** Title ****/

.header__title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: var(--color-red);
    font-weight: bold;
    padding: 20px;
}

.header__title-main { 
    font-size: 2.5rem;
    padding-right:15px;
}

.header__title-second {
    font-size: 1.1rem;
}

/**** Theme ****/

.header__theme {
    background-color: var(--color-greydark);
    color: white;
    font-size: 1.7rem;
    text-align: center;
    padding: 12px;
}

.header__theme-FF {
    font-style: italic;
}


/****************/
/**** MAIN ****/
/****************/

/** Description de l'article **/

.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    margin: 2% auto;
    width:75%;
}

.product-list__item {
    width: 30%;
    border: 1px solid #ccc;
    padding: 0.5%;
    margin-bottom: 20px;
    position: relative;
}

.product-list__item-image {
    width:100%;
    margin:0 auto;
}

.product-list__item-subtitle {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--color-greylight);
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-greylight);
    padding: 0.8% 0;
    margin:3%;
}

.product-list__item-main-title {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0.8% 0;
    margin:3%;
}

.product-list__item-description {
    font-size: 1rem;
    padding: 0.8% 0;
    margin:3%;
    margin-bottom:6%;
}

/** Ajouter au panier **/

.button {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #c80000;
    color:white;
    border: none;
    width: 100%;
    padding:4%;
}

.button__add-to-cart {
    font-size: 1rem;
    width: 50%;
}

.button__price {
    font-size: 1rem;
    font-weight: bold;
    width: 25%;
}

.button__price--strike {
    font-size: 1rem;
    text-decoration: line-through;
    width: 20%;
}

.product-list__item-discount { 
    position: absolute;
    right:10%;
    top:5%;

    background-color: var(--color-greydark);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;

    
    width:5rem;
    height: 5rem;
    border-radius: 100%;
    border: 4px solid var(--color-greylight) ;
    
    display: flex;
    justify-content: center;
    align-items: center;

    animation:blink 1s infinite;
    animation-iteration-count: infinit;
}

@keyframes blink { 
    50% { 
        border-color: var(--color-red);
    }
}   

.product-list__item-sales {
    position: fixed;
    font-weight: bold;
    text-transform: uppercase;
    left:0;
    top:50%;
    color:white;
    background-color: var(--color-red);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    padding:10px;


}


/****************/
/**** FOOTER ****/
/****************/

.footer {
    background-color: var(--color-greydark);
    color: white;
    text-align: center;
    padding: 15px;
    width: 100%;
}