:root {
    --color-red:#c80000;
    --color-greydark:#666;
    --color-greylight:#ccc;
    --color-table:#eeeeee;
    --color-separation:#e4e4e4;
    --color-grey-title:#666c73;
    --padding-grey-dark:0.8rem;
}

body {
    font-family: 'Oswald', sans-serif;
}

#container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/****************/
/**** HEADER ****/
/****************/

.header {
    display:flex;
    flex-direction: column;
    color:white;
    width:100%;
    height:20%;
}

/**** Title ****/

.header__title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: var(--color-red);
    font-weight: bold;
    padding: 1rem;
}

.header__title-main { 
    font-size: 2.5rem;
    padding-right:0.8rem;
}

.header__title-second {
    font-size: 1.1rem;
}

/**** Theme ****/

.header__theme {
    background-color: var(--color-greydark);
    color: white;
    font-size: 1.7rem;
    text-align: center;
    padding: 0.8rem;
}

.header__theme-FF {
    font-style: italic;
}

/****************/
/**** FOOTER ****/
/****************/

.footer {
    background-color: var(--color-greydark);
    color: white;
    text-align: center;
    padding: 0.8rem;
    width: 100%;
}